#line3 img {

    width: 30%;
    
    margin: 1.66%;
    
    float: left;
    
    }
    
    #line4 img {
    
    width: 22%;
    
    margin: 1.5%;
    
    float: left;
    
    }
    
    #line5 img {
    
    width: 18%;
    
    margin: 0.66%;
    
    float: left;
    
    }
    
    .clearfix {
    
    clear: both;
    
    }
    
    p {
    
    text-transform: uppercase;
    
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 30px;
    
    font-weight: bold;
    
    margin: 1.66%;
    
    border-buttom: 3px solid #6411c4a9;
    
    }